body{
  background-color: rgb(255, 249, 240);
}

.card-image
{
  background-color: antiquewhite;
}


.items-container {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}




.payment {
  
  text-align: center;
  gap: 20px;
  margin-top: 50px;
}

.items-item {
  background-color: rgb(250, 243, 233);
  
  height: 220px;
  padding: 10px;
}

/* .items-container:hover {
  background-color: antiquewhite;
  cursor: pointer;
} */

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2ea334;
  border-color: #2ea334;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  width:150px;
  

  
}

.button:hover {
  background-color: #1dc547;
  border-color: #1dc547;
}

.button:active {
  background-color: #1fed53;
  border-color: #1fed53;
}

.favorite-button {
  border: none;
  background: none;
  cursor: pointer;
  color: gold;
  font-size: 20px;
  position: relative;
  left: 170px;
  top: 40px;
}

.favorite-button:hover {
  
  color: rgb(252, 156, 0);
}


.favorite-button:active {
  color: rgb(252, 101, 0);
}



.wrapper {
  width: 100%; /* Set the width to occupy the entire available space */
  max-width: 1200px; /* Set a maximum width for the wrapper */
  margin: 0 auto; /* Center the wrapper horizontally */
  padding: 20px; /* Add some padding for spacing */
}

h1{
  font-size: 36px;
  font-weight: bolder;
  padding-top: 20px;
}

h3{
  color:black;
  text-decoration: none;
  
}

h4{
  color:black;
  text-decoration: none;
  
}

em{
  color:black;
  text-decoration: none;
}

.searchbar {
  margin-top: 10px;
  border-radius: 5px;
  border: solid 1px;
  padding: 5px 20px;
  background-color: rgb(255, 249, 240);
}

a:link { 
  text-decoration: none; 
}


a:visited
{
  color: white;
}


li {
  margin-right: 10px;
  
  
  cursor: pointer;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: antiquewhite;
  color: white;
  width: auto;
  height: 60px;
  
}

/* .flex-container {
  display: flex;
  align-items: right;
  color:black;
} */

.logo-image {
  width: 55px;
  height: 55px;
  padding: 15px;
}

.big-logo
{
  width: 375px;
  height: 375px;
}

.error {
  border: 1px solid red;
}

.remove-button
{
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(255, 42, 0);
  font-size: 16px;
  float: right;
  margin-left: 50px;
  display: block;
  
  

}

.r-button
{
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(255, 42, 0);
  font-size: 16px;
  margin-left: 50px;
  float: right;
  
  
  
  
  

}

.neworder-container {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 30px;
  padding-bottom: 50px;
  
}

.orderpage
{
  width: 300px;
  margin:auto;
  
}

.order{
  
  align-items: center;
  
  
  padding-left: 40px;

}

.order-list
{
  /* position: absolute;
  right: auto; */
  /* 
  /* text-align: right;
   */ 
  
   /* align-items: right;
   align-content: right; */
   

    padding-top: 15px;
    padding-bottom: 25px;
}

.favorite{
  padding-right: 80px;
}